In [91]:
import pandas as pd

df = pd.read_csv('2020-XTern-DS.csv')
df = df[pd.to_numeric(df.Rating, errors='coerce').notnull()]
df = df[pd.to_numeric(df.Votes, errors='coerce').notnull()]

df

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
0,ID_6321,39.262605,-85.837372,"Fast Food, Rolls, Burger, Salad, Wraps",$20.00,$50.00,3.5,12,4,30 minutes
1,ID_2882,39.775933,-85.740581,"Ice Cream, Desserts",$10.00,$50.00,3.5,11,4,30 minutes
2,ID_1595,39.253436,-85.123779,"Italian, Street Food, Fast Food",$15.00,$50.00,3.6,99,30,65 minutes
3,ID_5929,39.029841,-85.332050,"Mughlai, North Indian, Chinese",$25.00,$99.00,3.7,176,95,30 minutes
4,ID_6123,39.882284,-85.517407,"Cafe, Beverages",$20.00,$99.00,3.2,521,235,65 minutes
...,...,...,...,...,...,...,...,...,...,...
2011,ID_3928,39.353682,-85.071878,"North Indian, South Indian, Chinese, Fast Food",$25.00,$50.00,3.3,29,6,45 minutes
2012,ID_3201,39.039147,-85.114505,"Beverages, Fast Food",$15.00,$50.00,3.7,22,16,30 minutes
2013,ID_5794,39.764745,-85.121567,Bengali,$20.00,$50.00,3.3,16,6,30 minutes
2015,ID_319,39.133719,-85.503020,"Awadhi, Bihari",$40.00,$99.00,4.1,118,91,30 minutes
2018,ID_8403,39.460944,-85.484355,"Desserts, Beverages",$150.00,$50.00,4.1,271,172,45 minutes

In [92]:
df["Rating"] = df['Rating'].astype('float')
df["Votes"] = df["Votes"].astype("float")

df

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
0,ID_6321,39.262605,-85.837372,"Fast Food, Rolls, Burger, Salad, Wraps",$20.00,$50.00,3.5,12.0,4,30 minutes
1,ID_2882,39.775933,-85.740581,"Ice Cream, Desserts",$10.00,$50.00,3.5,11.0,4,30 minutes
2,ID_1595,39.253436,-85.123779,"Italian, Street Food, Fast Food",$15.00,$50.00,3.6,99.0,30,65 minutes
3,ID_5929,39.029841,-85.332050,"Mughlai, North Indian, Chinese",$25.00,$99.00,3.7,176.0,95,30 minutes
4,ID_6123,39.882284,-85.517407,"Cafe, Beverages",$20.00,$99.00,3.2,521.0,235,65 minutes
...,...,...,...,...,...,...,...,...,...,...
2011,ID_3928,39.353682,-85.071878,"North Indian, South Indian, Chinese, Fast Food",$25.00,$50.00,3.3,29.0,6,45 minutes
2012,ID_3201,39.039147,-85.114505,"Beverages, Fast Food",$15.00,$50.00,3.7,22.0,16,30 minutes
2013,ID_5794,39.764745,-85.121567,Bengali,$20.00,$50.00,3.3,16.0,6,30 minutes
2015,ID_319,39.133719,-85.503020,"Awadhi, Bihari",$40.00,$99.00,4.1,118.0,91,30 minutes
2018,ID_8403,39.460944,-85.484355,"Desserts, Beverages",$150.00,$50.00,4.1,271.0,172,45 minutes

In [93]:
df["Average_Cost"] = df['Average_Cost'].map(lambda x: x.replace(",","."))
df["Average_Cost"] = df['Average_Cost'].map(lambda x: x.strip('$'))
df["Minimum_Order"] = df['Minimum_Order'].map(lambda x: x.strip('$'))
df["Cook_Time"] = df['Cook_Time'].map(lambda x: x.strip(' minutes'))

df

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
0,ID_6321,39.262605,-85.837372,"Fast Food, Rolls, Burger, Salad, Wraps",20.00,50.00,3.5,12.0,4,30
1,ID_2882,39.775933,-85.740581,"Ice Cream, Desserts",10.00,50.00,3.5,11.0,4,30
2,ID_1595,39.253436,-85.123779,"Italian, Street Food, Fast Food",15.00,50.00,3.6,99.0,30,65
3,ID_5929,39.029841,-85.332050,"Mughlai, North Indian, Chinese",25.00,99.00,3.7,176.0,95,30
4,ID_6123,39.882284,-85.517407,"Cafe, Beverages",20.00,99.00,3.2,521.0,235,65
...,...,...,...,...,...,...,...,...,...,...
2011,ID_3928,39.353682,-85.071878,"North Indian, South Indian, Chinese, Fast Food",25.00,50.00,3.3,29.0,6,45
2012,ID_3201,39.039147,-85.114505,"Beverages, Fast Food",15.00,50.00,3.7,22.0,16,30
2013,ID_5794,39.764745,-85.121567,Bengali,20.00,50.00,3.3,16.0,6,30
2015,ID_319,39.133719,-85.503020,"Awadhi, Bihari",40.00,99.00,4.1,118.0,91,30
2018,ID_8403,39.460944,-85.484355,"Desserts, Beverages",150.00,50.00,4.1,271.0,172,45

In [94]:
df["Cook_Time"] = df["Cook_Time"].astype("float")
df["Average_Cost"] = df["Average_Cost"].astype("float")
df["Minimum_Order"] = df["Minimum_Order"].astype("float")

df

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
0,ID_6321,39.262605,-85.837372,"Fast Food, Rolls, Burger, Salad, Wraps",20.0,50.0,3.5,12.0,4,30.0
1,ID_2882,39.775933,-85.740581,"Ice Cream, Desserts",10.0,50.0,3.5,11.0,4,30.0
2,ID_1595,39.253436,-85.123779,"Italian, Street Food, Fast Food",15.0,50.0,3.6,99.0,30,65.0
3,ID_5929,39.029841,-85.332050,"Mughlai, North Indian, Chinese",25.0,99.0,3.7,176.0,95,30.0
4,ID_6123,39.882284,-85.517407,"Cafe, Beverages",20.0,99.0,3.2,521.0,235,65.0
...,...,...,...,...,...,...,...,...,...,...
2011,ID_3928,39.353682,-85.071878,"North Indian, South Indian, Chinese, Fast Food",25.0,50.0,3.3,29.0,6,45.0
2012,ID_3201,39.039147,-85.114505,"Beverages, Fast Food",15.0,50.0,3.7,22.0,16,30.0
2013,ID_5794,39.764745,-85.121567,Bengali,20.0,50.0,3.3,16.0,6,30.0
2015,ID_319,39.133719,-85.503020,"Awadhi, Bihari",40.0,99.0,4.1,118.0,91,30.0
2018,ID_8403,39.460944,-85.484355,"Desserts, Beverages",150.0,50.0,4.1,271.0,172,45.0

In [95]:
cook_time = df.sort_values("Cook_Time")

cook_time

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
452,ID_2794,39.390431,-85.634214,"Beverages, Desserts, Ice Cream",20.0,50.0,4.0,53.0,42,20.0
1712,ID_3670,39.808138,-85.513153,"North Indian, Chinese",10.0,50.0,3.7,120.0,55,20.0
372,ID_921,39.746517,-85.058316,"Biryani, North Indian",20.0,50.0,3.8,58.0,45,20.0
0,ID_6321,39.262605,-85.837372,"Fast Food, Rolls, Burger, Salad, Wraps",20.0,50.0,3.5,12.0,4,30.0
1177,ID_5825,39.711944,-85.470986,"North Indian, Chinese",25.0,50.0,3.2,7.0,2,30.0
...,...,...,...,...,...,...,...,...,...,...
1210,ID_8357,39.676069,-85.361422,"Bakery, Desserts",20.0,99.0,2.8,4.0,4,120.0
596,ID_36,39.440505,-85.965610,"Bakery, Fast Food",25.0,50.0,2.7,5.0,3,120.0
424,ID_607,39.370590,-85.967792,"Bakery, Fast Food",20.0,50.0,3.7,101.0,44,120.0
928,ID_4204,39.382805,-85.271197,"Bakery, Fast Food, Desserts",20.0,50.0,3.7,147.0,72,120.0
1947,ID_1342,39.375015,-85.622034,Bakery,15.0,99.0,2.8,177.0,81,120.0

In [96]:
#The average cook time is 38 minutes
df["Cook_Time"].mean()

38.22452715070165

In [97]:
#The fastest cuisines are typically middle eastern, East Asian, or indian food
types_of_food = df.groupby("Cuisines")

fastest_time = types_of_food["Cook_Time"].mean()
fastest_time.nsmallest(10)

Cuisines
Afghan, BBQ, Biryani, Seafood                                              30.0
American                                                                   30.0
American, Italian, Continental, Burger, Sandwich                           30.0
Andhra, Biryani                                                            30.0
Andhra, Hyderabadi, Biryani, South Indian, North Indian, Rolls, Mughlai    30.0
Arabian, Biryani, Burger, Sandwich, Desserts                               30.0
Arabian, North Indian, Mughlai, Chinese, Beverages, Desserts               30.0
Asian, Chinese, Continental, Italian                                       30.0
Asian, Continental, North Indian                                           30.0
Awadhi, Bihari                                                             30.0
Name: Cook_Time, dtype: float64

In [98]:
#Orders ratings from highest to lowest
ratings = df.sort_values("Rating", ascending = False)

ratings
#We can see that the 5 most highly rated restaurants are of ID_7412, ID_4728, ID_1166, ID_6537, and ID_2051

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
169,ID_7412,39.382427,-85.499864,"North Indian, Chinese, Rolls",15.0,50.0,4.8,326.0,234,30.0
1325,ID_4728,39.135109,-85.830490,"North Indian, Mughlai, Biryani, Rolls, Momos",25.0,99.0,4.8,650.0,423,45.0
446,ID_1166,39.915714,-85.847807,North Indian,30.0,50.0,4.7,81.0,74,45.0
144,ID_6537,39.338426,-85.052456,"Biryani, North Indian, Mughlai, Kebab, Rolls",25.0,99.0,4.7,706.0,490,30.0
1428,ID_2051,39.759886,-85.500507,"Italian, Continental, Chinese, Mexican, Fast F...",30.0,50.0,4.7,3975.0,2359,65.0
...,...,...,...,...,...,...,...,...,...,...
746,ID_4673,39.179960,-85.415221,"South Indian, North Indian, Chinese, Beverages",20.0,50.0,2.5,71.0,34,45.0
1968,ID_1197,39.922343,-85.273122,"Fast Food, Chinese, South Indian",15.0,50.0,2.5,12.0,9,30.0
1345,ID_5242,39.895003,-85.622917,"Biryani, Chinese, North Indian",25.0,99.0,2.5,51.0,27,65.0
1549,ID_4718,39.987552,-85.757764,"North Indian, Mughlai",35.0,50.0,2.5,27.0,10,45.0
287,ID_5908,39.221608,-85.030116,North Indian,20.0,50.0,2.4,19.0,11,30.0

In [99]:
#The average rating for a restaurant is 3.6
df["Rating"].mean()

3.612202562538135

In [100]:
#The average amount of votes is 255
df["Votes"].mean()

254.79926784624772

In [113]:
#The average cost is $22.20
df["Average_Cost"].mean()

21.184990848078094

In [114]:
#The average minimum order is $54.10
df["Minimum_Order"].mean()

54.090298962782185

In [101]:
#dataset of all restaurants that are better than the average
top_restaurants = df[df.Rating > 3.61]

top_restaurants

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
3,ID_5929,39.029841,-85.332050,"Mughlai, North Indian, Chinese",25.0,99.0,3.7,176.0,95,30.0
5,ID_5221,39.370441,-85.739516,"South Indian, North Indian, Chinese",15.0,50.0,3.8,46.0,18,30.0
6,ID_3777,39.821806,-85.005577,"Beverages, Fast Food",15.0,50.0,3.7,108.0,31,30.0
7,ID_745,39.280324,-85.144363,"Chinese, Thai, Asian",65.0,50.0,4.0,1731.0,1235,45.0
8,ID_2970,39.268816,-85.602168,"Mithai, Street Food",10.0,50.0,3.9,110.0,26,30.0
...,...,...,...,...,...,...,...,...,...,...
2001,ID_601,39.064831,-85.283681,"Bakery, Desserts",10.0,50.0,3.9,41.0,28,30.0
2008,ID_1792,39.437592,-85.191930,"North Indian, Chinese, South Indian",25.0,50.0,4.3,112.0,33,30.0
2012,ID_3201,39.039147,-85.114505,"Beverages, Fast Food",15.0,50.0,3.7,22.0,16,30.0
2015,ID_319,39.133719,-85.503020,"Awadhi, Bihari",40.0,99.0,4.1,118.0,91,30.0
2018,ID_8403,39.460944,-85.484355,"Desserts, Beverages",150.0,50.0,4.1,271.0,172,45.0

In [102]:
#Most restaurants serve North Indian or Chinese food
df["Cuisines"].value_counts()

North Indian                          117
North Indian, Chinese                 100
Fast Food                              61
South Indian                           54
Chinese                                26
                                     ...
Finger Food, Brazilian, BBQ             1
Pizza, Burger, Fast Food, Desserts      1
Afghan, BBQ, Biryani, Seafood           1
Beverages, Fast Food, Ice Cream         1
Mexican, American, Italian, Burger      1
Name: Cuisines, Length: 647, dtype: int64

In [103]:
#Similar to all restaurants, restaurants that have a higher rating also service North Indian or Chinese food
top_restaurants["Cuisines"].value_counts()

North Indian, Chinese                      44
North Indian                               34
South Indian                               25
Fast Food                                  17
Street Food                                11
                                           ..
Chinese, North Indian, Fast Food, Momos     1
Chettinad, North Indian, Seafood            1
North Indian, Chinese, Mughlai, Kebab       1
Mithai, Bakery, Fast Food                   1
Mughlai, Biryani                            1
Name: Cuisines, Length: 426, dtype: int64

In [104]:
#While the are quite similar, the top restaurants have similar wait times to all the restaurants
top_restaurants["Cook_Time"].mean()

40.63291139240506

In [109]:
#Top restaurants are more expensive.
top_restaurants["Average_Cost"].mean()

25.192658227848103

In [110]:
#They also have a higher minimum order.
top_restaurants["Minimum_Order"].mean()

55.821518987341776

In [116]:
#The average amount of votes are 465.
top_restaurants["Votes"].mean()

465.3151898734177

In [105]:
#dataset of all restaurants that are lower than average
bottom_restaurants = df[df.Rating < 3.61]

bottom_restaurants

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
0,ID_6321,39.262605,-85.837372,"Fast Food, Rolls, Burger, Salad, Wraps",20.0,50.0,3.5,12.0,4,30.0
1,ID_2882,39.775933,-85.740581,"Ice Cream, Desserts",10.0,50.0,3.5,11.0,4,30.0
2,ID_1595,39.253436,-85.123779,"Italian, Street Food, Fast Food",15.0,50.0,3.6,99.0,30,65.0
4,ID_6123,39.882284,-85.517407,"Cafe, Beverages",20.0,99.0,3.2,521.0,235,65.0
14,ID_6891,39.656718,-85.588766,Fast Food,10.0,50.0,3.5,23.0,5,30.0
...,...,...,...,...,...,...,...,...,...,...
2004,ID_4140,39.355367,-85.776662,"North Indian, Fast Food, Chinese",15.0,50.0,3.1,61.0,11,45.0
2006,ID_1555,39.662689,-85.332363,"North Indian, Continental, Chinese, Juices",10.0,50.0,3.4,25.0,20,30.0
2010,ID_8458,39.371827,-85.076994,"Chinese, North Indian, Mughlai",80.0,50.0,2.6,175.0,78,30.0
2011,ID_3928,39.353682,-85.071878,"North Indian, South Indian, Chinese, Fast Food",25.0,50.0,3.3,29.0,6,45.0
2013,ID_5794,39.764745,-85.121567,Bengali,20.0,50.0,3.3,16.0,6,30.0

In [106]:
#The same top types of cuisine appears in the bottom restaurants as the top.
#Type of cuisine does not seem to be a factor in the rating of restaurants.
bottom_restaurants["Cuisines"].value_counts()

North Indian                                                      83
North Indian, Chinese                                             56
Fast Food                                                         44
South Indian                                                      29
Chinese                                                           18
                                                                  ..
North Indian, Fast Food, Beverages                                 1
Mangalorean                                                        1
North Indian, Chinese, Pizza, Rolls, Bakery, Beverages, Mithai     1
Mughlai, Biryani, Afghan                                           1
Mishti                                                             1
Name: Cuisines, Length: 323, dtype: int64

In [107]:
#Surprisingly, lower rated restaurants have faster cook times than higher rated restaurants.
#Similarly to cuisine, cook times seem to not have an affect on top rated restaurants.
bottom_restaurants["Cook_Time"].mean()

35.98351001177856

In [111]:
#Bottom restaurants have a lower average cost.
bottom_restaurants["Average_Cost"].mean()

17.45583038869258

In [112]:
#Bottom restaurants have a similar minimum order.
bottom_restaurants["Minimum_Order"].mean()

52.47938751472321

In [118]:
#The average amount of votes is 59.
bottom_restaurants["Votes"].mean()

58.91283863368669

In [ ]:
#From my data analysis,we can see that the 5 most highly rated restaurants are
#ID_7412, ID_4728, ID_1166, ID_6537, and ID_2051.
#These restaurants and other top restaurants are composed of mainly Indian and Chinese food.
#The average wait time overall is 38 minutes, the average cost is $21.18, and the average minimum order is $54.10.
#Surprisingly, when comparing the cook times, average costs, and average minimum order between the top restaurants 
#and the bottom restaurants, the bottom restaurants are actually cheaper and faster. 
#They also feature the same cuisine.
#Top rated restaurants also have almost 8x the amount of votes that bottom tier restaurants do.
#This suggests that consumers are not concerned with the price or wait time when rating and buying from restaurants.
#Rather, the most important factor is the taste of the food.